body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F7FA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container{
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
}

/* Main content section */
.main-content-section{
  padding: 50px 40px;
}

.main-content-title{
  font-style: normal;
  font-weight: bold; 
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.main-content-smalltitle {
  font-size: 22px;
  color: #FB6D3A;
}

.main-content-period{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin-bottom: 10px;
}

.main-content-divider{
  color: #000;
}

.form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  padding-bottom: 2em;
}

#result-text {
  padding-left: 1.1em;
  padding-bottom: 2em;
}

h1{
  margin: 10px !important;
  text-align: center;
  color: rgb(75, 55, 55) !important;
}

h2{
  color: gray !important;
}

.cardCurrency{
  padding: 20px;
  padding-top: 0;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  
}
@media screen and (max-width: 1024px) {
  .cardCurrency {
    grid-template-columns: repeat(2, 1fr);
  
  }
}
@media screen and (max-width: 767px) {
  .cardCurrency {
    grid-template-columns: repeat(1, 1fr);
  
  }
}

.formEchange{
  padding: 30px;
  padding-top: 0;
}

.btn{
  margin-bottom: 10px;
}